{% extends "home/base.html" %}

{% load static %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>    
    <!-- =======  Data-Table  = Start  ========================== -->
    <br>
    <div class="container">
      <div class="row m-0">

        {% for apartamento in apartamentos %}
        <div class="col-xl-3 col-lg-6 col-md-6 col-12 mb-6">
          <div class="card text-center">
            <div class="card-header {% if apartamento.tipostatus == 'Livre' %}bg-success{% elif apartamento.tipostatus == 'Reservado' %}bg-warning{% elif apartamento.tipostatus == 'Ocupado' %}bg-danger{% elif apartamento.tipostatus == 'Em manutenção' %}bg-purple{% endif %}">
              {{ apartamento.descricao }}
            </div>

            <div class="card-body text-center">
              {% if apartamento.tipostatus == 'Livre' %}
                 <i class="card-title" style="font-size: 15px;">Tipo: {{ apartamento.tipoapart }}</i><br>
                 <i class="card-title" style="font-size: 15px;">Status: {{ apartamento.tipostatus }}</i><br>
                 {% elif apartamento.tipostatus == 'Reservado' %}                 
                    <i class="card-title fa fa-user-o" style="font-size: 15px;"> Colocar o nome do hospede aqui</i><br>
                    <i class="card-title fa fa-calendar-check-o" style="font-size: 15px;"> Reservado para: 20/10/2023</i><br>
                 {% elif apartamento.tipostatus == 'Ocupado' %}

{% for movimento in apartamento.movimentosaparts_set.all %}
    {% if movimento.pago_sn != 'S' %}
        <i class="card-title" style="font-size: 13px;"> {{ movimento.hospede.nome }} / {{ movimento.id }}</i><br>
        <i class="card-title fa fa-calendar-check-o" style="font-size: 15px;"> {{ movimento.data_checkin|date:'d/m/Y' }} - {{ movimento.data_checkout|date:'d/m/Y' }}</i><br>
    {% endif %}
{% endfor %}



                 {% elif apartamento.tipostatus == 'Em manutenção' %}
                   <i>Tipo: {{ apartamento.tipoapart }}</i><br>
                   <i>Status: {{ apartamento.tipostatus }}</i>
              {% endif %}
            </div>

            <div class="card-footer text-muted">
              {% if apartamento.tipostatus == 'Livre' %}
                <button type="button" class="btn btn-outline-secondary fa fa-sign-in btn-short"> Check-In</button>
              {% elif apartamento.tipostatus == 'Reservado' %}                 
                <button type="button" class="btn btn-outline-secondary fa fa-sign-in btn-short"> Check-In</button>
              {% elif apartamento.tipostatus == 'Ocupado' %}
                <div class="icons">
                  <a class="icon-spacing"  href="{% url 'itens_consumo_aparts_apartamento' apartamento.id %}">
                    <i class="fas fa-shopping-basket icon-spacing" title="Lançar consumo"></i>
                  </a>
                  <a class="icon-spacing" href="#">
                    <i class="fas fa-light fa-envelope icon-spacing" title="Enviar mensagem"></i>
                  </a>
                  <a class="icon-spacing" href="#">
                    <i class="fa fa-user-circle-o icon-spacing" aria-hidden="true" title="Ver dados do hospede"></i>
                  </a>
                  <a class="icon-spacing" href="#">
                    <i class="fa fa-money icon-spacing" aria-hidden="true" title="Débito atual"></i>
                  </a>
                  <a class="icon-spacing" href="#">
                    <i class="fa fa-exchange icon-spacing" aria-hidden="true" title="Mudar de acomodação"></i>
                  </a>
                  <a class="icon-spacing" href="#">
                    <i class="fa fa-sign-out icon-spacing" aria-hidden="true" title="Efetuar Check-Out"></i>
                  </a>
                </div>
              {% elif apartamento.tipostatus == 'Em manutenção' %}                 
                 <button type="button" class="btn btn-outline-success fa fa-wrench btn-short"> Liberar</button>
              {% endif %}
            </div>
          </div>
        </div>
        {% empty %}
            <tr class="text-center">
              <td colspan="4">Não existe apartamentos cadastrados</td>
            </tr>
        {% endfor %}
      </div>
    </div>
    <!-- =======  Data-Table  = End  ===================== -->
    <style>
      .bg-success {background-color: #28a745;}
      .bg-warning {background-color: #ffc107;}
      .bg-danger {background-color: #dc3545;}
      .bg-purple {background-color: #6f42c1;}
      .text-white {color: #fff;}
      .text-dark {color: #000;}
      .bg-success .text-white {color: #fff;} /* ajuste de cor para o painel com status livre */
      .bg-warning .text-dark {color: #000;} /* ajuste de cor para o painel com status reservado */
      .bg-danger .text-white {color: #fff;} /* ajuste de cor para o painel com status ocupado */
      .bg-purple .text-white {color: #fff;} /* ajuste de cor para o painel com status manutenção */
      .card:hover {cursor: pointer;}      
      .card-body {line-height: 1.9;}
      .icon-spacing {margin-right: 14px;}
      .icon-spacing:last-child {margin-right: 0;}
      .btn-short {
        padding-top: 0.20rem; /* Defina o valor de padding superior desejado */
        padding-bottom: 0.20rem; /* Defina o valor de padding inferior desejado */
      }

    </style>
{% endblock %}