{% extends "home/base.html" %}

{% load static %}

{% block content %}

<!-- Bootstrap CSS -->

<!-- Select2 CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<!-- Select2 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <!-- =======  Data-Table  = Start  ========================== -->
    <br>
    <div class="container">
      <div class="row m-0">
        {% for apartamento in apartamentos %}
        <div class="col-xl-3 col-lg-6 col-md-6 col-12 mb-6">
          <div class="card text-center">
            <div class="card-header {% if apartamento.tipostatus == 'Livre' %}bg-success{% elif apartamento.tipostatus == 'Reservado' %}bg-warning{% elif apartamento.tipostatus == 'Ocupado' %}bg-danger{% elif apartamento.tipostatus == 'Em manutenção' %}bg-purple{% endif %}">
              {{ apartamento.descricao }}
            </div>
            <div class="card-body text-center">
              {% if apartamento.tipostatus == 'Livre' %}
                 <i class="card-title" style="font-size: 15px;">Tipo: {{ apartamento.tipoapart }}</i><br>
                 <i class="card-title" style="font-size: 15px;">Status: {{ apartamento.tipostatus }}</i><br>
                 {% elif apartamento.tipostatus == 'Reservado' %}                 
                    <i class="card-title fa fa-user-o" style="font-size: 15px;"> Colocar o nome do hospede aqui</i><br>
                    <i class="card-title fa fa-calendar-check-o" style="font-size: 15px;"> Reservado para: 20/10/2023</i><br>
                 {% elif apartamento.tipostatus == 'Ocupado' %}
                    {% for movimento in apartamento.movimentosaparts_set.all %}
                        {% if movimento.pago_sn != 'S' %}
                            <i class="card-title" style="font-size: 13px;"> {{ movimento.hospede.nome }} / {{ movimento.id }}</i><br>
                            <i class="card-title fa fa-calendar-check-o" style="font-size: 15px;"> {{ movimento.data_checkin|date:'d/m/Y' }} - {{ movimento.data_checkout|date:'d/m/Y' }}</i><br>
                        {% endif %}
                    {% endfor %}
                 {% elif apartamento.tipostatus == 'Em manutenção' %}
                   <i>Tipo: {{ apartamento.tipoapart }}</i><br>
                   <i>Status: {{ apartamento.tipostatus }}</i>
              {% endif %}
            </div>
            <div class="card-footer text-muted">
              {% if apartamento.tipostatus == 'Livre' %}
                <button id="botaoCheckinReserva" type="button" class="btn btn-outline-secondary fa fa-sign-in btn-short" data-toggle="modal" data-target="#ModalCheckinReserva"> Check-In / Reservar</button>
              {% elif apartamento.tipostatus == 'Reservado' %}                 
                <button type="button" class="btn btn-outline-secondary fa fa-sign-in btn-short"> Check-In</button>
              {% elif apartamento.tipostatus == 'Ocupado' %}
                <div class="icons">
                  <a class="icon-spacing"  href="{% url 'itens_consumo_aparts_apartamento' apartamento.id %}">
                    <i class="fas fa-shopping-basket icon-spacing" title="Lançar consumo"></i>
                  </a>
                  <a class="icon-spacing" href="#">
                    <i class="fas fa-light fa-envelope icon-spacing" title="Enviar mensagem"></i>
                  </a>
                  <a class="icon-spacing" href="#">
                    <i class="fa fa-user-circle-o icon-spacing" aria-hidden="true" title="Ver dados do hospede"></i>
                  </a>
                  <a class="icon-spacing" href="#">
                    <i class="fa fa-money icon-spacing" aria-hidden="true" title="Débito atual"></i>
                  </a>
                  <a class="icon-spacing" href="#">
                    <i class="fa fa-exchange icon-spacing" aria-hidden="true" title="Mudar de acomodação"></i>
                  </a>
                  <a class="icon-spacing" href="#">
                    <i class="fa fa-sign-out icon-spacing" aria-hidden="true" title="Efetuar Check-Out"></i>
                  </a>
                </div>
              {% elif apartamento.tipostatus == 'Em manutenção' %}                 
                 <button type="button" class="btn btn-outline-success fa fa-wrench btn-short"> Liberar</button>
              {% endif %}
            </div>
          </div>
        </div>
        {% empty %}
            <tr class="text-center">
              <td colspan="4">Não existe apartamentos cadastrados</td>
            </tr>
        {% endfor %}
      </div>
    </div>
    <!-- =======  Data-Table  = End  ===================== -->
    <style>
      .bg-success {background-color: #28a745;}
      .bg-warning {background-color: #ffc107;}
      .bg-danger {background-color: #dc3545;}
      .bg-purple {background-color: #6f42c1;}
      .text-white {color: #fff;}
      .text-dark {color: #000;}
      .bg-success .text-white {color: #fff;} /* ajuste de cor para o painel com status livre */
      .bg-warning .text-dark {color: #000;} /* ajuste de cor para o painel com status reservado */
      .bg-danger .text-white {color: #fff;} /* ajuste de cor para o painel com status ocupado */
      .bg-purple .text-white {color: #fff;} /* ajuste de cor para o painel com status manutenção */
      .card:hover {cursor: pointer;}      
      .card-body {line-height: 1.9;}
      .icon-spacing {margin-right: 14px;}
      .icon-spacing:last-child {margin-right: 0;}
      .btn-short {
        padding-top: 0.20rem; /* Defina o valor de padding superior desejado */
        padding-bottom: 0.20rem; /* Defina o valor de padding inferior desejado */
      }

    </style>

<!-- ################### Modal CheckIn / Reserva - ( Start ) ######################### -->

<div class="modal fade" id="ModalCheckinReserva" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" style="text-align: center" id="exampleModalLongTitle">Check-In / Reserva</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#checkin" onclick="limparCamposCheckin()">Check-In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#reserva" onclick="limparCamposReserva()">Reserva</a>
            </li>
          </ul>
          <div class="tab-content">
            <!--************************************************************************-->
            <div id="checkin" class="tab-pane fade show active">
              <hr>
              <div class="form-row">
                <div class="form-group col-md-12 mb-0" style="text-align: left;">
                  <div class="input-group-prepend">
                    <span class="input-group-text d-flex align-items-center"><i class="fa fa-user"></i></span>
                      <select type="text" id="myHospedeCheckin" name="myHospedeCheckin" class="form-control select2" style="width: 450px; height: 200px;">
                      <option value=""></option>
                      {% for hospede in lista_hospedes %}
                        <option value="{{ hospede.id }}">{{ hospede.text }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>  
              <div class="form-row">
                <div class="form-group col-md-6 mb-0" style="text-align: left;">
                  <p class="inline" style="text-align: left">Dt.Entrada</p>
                  <input id="myDataEntradaCheckin" type="date" name="myDataEntradaCheckin" placeholder="Data entrada" class="inline">
                </div>
                <div class="form-group col-md-6 mb-2" style="text-align: right;">
                  <p class="inline" style="text-align: right">Dt.Saída</p>
                  <input id="myDataSaidaCheckin" type="date" name="myDataSaidaCheckin" placeholder="Data saida" class="inline">
                </div>
              </div>  
              <div class="form-row">
                <div class="form-group col-md-6 mb-0" style="text-align: left;">
                  <p class="inline" style="text-align: left">Apartamento:</p>
                  <input id="myApartCheckin" type="text" name="myApartCheckin" placeholder="Apartamento" class="inline">
                </div>
                <div class="form-group col-md-3 mb-0" style="text-align: left;">
                  <p class="inline" style="text-align: left">Hóspedes:</p>
                  <input style="text-align: center" id="myQtdHospdesCheckin" type="number" name="myQtdHospdesCheckin" placeholder="Qtd. hóspedes" class="inline">
                </div>
                <div class="form-group col-md-3 mb-0" style="text-align: left;">
                  <p class="inline" style="text-align: left">Excedentes:</p>
                  <input style="text-align: center" id="myQtdExcedentesCheckin" type="number" name="myQtdExcedentesCheckin" placeholder="Qtd. excedentes" class="inline">
                </div>
              </div>
              <div class="modal-footer">
                <a href="{% url 'apartHome' %}" class="btn btn-danger btn-sm">Sair</a>
                <button type="button" class="btn btn-success btn-sm">Confirmar Check-In</button>
              </div>                
            </div>  
            <!--************************************************************************-->
            <div id="reserva" class="tab-pane fade">
              <hr>
              <div class="form-row">
                <div class="form-group col-md-12 mb-0" style="text-align: left;">
                  <p class="inline" style="text-align: left">Hóspede</p>
                  <input id="myHospedeReserva" type="text" name="myHospedeReserva" placeholder="Hóspede" class="inline">
                </div>
              </div>  
              <div class="form-row">
                <div class="form-group col-md-6 mb-0" style="text-align: left;">
                  <p class="inline" style="text-align: left">Dt.Entrada</p>
                  <input id="myDataEntradaReserva" type="date" name="myDataEntradaReserva" placeholder="Data entrada reserva" class="inline">
                </div>
                <div class="form-group col-md-6 mb-2" style="text-align: right;">
                  <p class="inline" style="text-align: right">Dt.Saída</p>
                  <input id="myDataSaidaReserva" type="date" name="myDataSaidaReserva" placeholder="Data saida reserva" class="inline">
                </div>
              </div>  
              <div class="form-row">
                <div class="form-group col-md-9 mb-0" style="text-align: left;">
                  <p class="inline" style="text-align: left">Apartamento:</p>
                  <input id="myApartReserva" type="text" name="myApartReserva" placeholder="Apartamento reserva" class="inline">
                </div>
                <div class="form-group col-md-3 mb-0" style="text-align: left;">
                  <p class="inline" style="text-align: left">Qtd.Hóspedes:</p>
                  <input style="text-align: center" id="myQtdHospdesReserva" type="number" name="myQtdHospdesReserva" placeholder="Qtd. hóspedes" class="inline">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Sair</button>
                <button type="button" class="btn btn-success">Confirmar reserva</button>
              </div>                
            </div>  
          </div>
         </div>
       </div>
    </div>
  </div>
</div>


<!-- Formatação Style do Select2 dentro do modal  - ( Start ) -->
<style>
.select2-container { height: auto !important; }
.select2-selection--single { height: auto !important; }
.select2-selection__rendered { height: auto !important; }
.select2 { height: auto !important; }
</style>
<!-- Formatação Style do Select2 dentro do modal  - ( End ) -->



<!-- Inicia o Select2 dentro do modal  - ( Start ) -->
<script>
$(document).ready(function() {
  $('#myHospedeCheckin').select2({
    placeholder: "Selecione o hóspede",
    dropdownParent: $('#ModalCheckinReserva'),
  });

});
</script>
<!-- Inicia o Select2 dentro do modal  - ( End ) -->

<script>

$('#ModalCheckinReserva').on('shown.bs.modal', function () {
  document.getElementById("myHospedeCheckin").value = "";
  document.getElementById("myDataEntradaCheckin").value = new Date().toISOString().slice(0, 10);
  let dataSaida = new Date();
  dataSaida.setDate(dataSaida.getDate() + 1);
  document.getElementById("myDataSaidaCheckin").value = dataSaida.toISOString().slice(0, 10);
  document.getElementById("myHospedeCheckin").focus();
});

</script>



<script>

$('#ModalCheckinReserva').on('shown.bs.modal', function () {
  document.getElementById("myHospedeReserva").value = "";
  document.getElementById("myDataEntradaReserva").value = new Date().toISOString().slice(0, 10);
  let dataSaida = new Date();
  dataSaida.setDate(dataSaida.getDate() + 1);
  document.getElementById("myDataSaidaReserva").value = dataSaida.toISOString().slice(0, 10);
  document.getElementById("myHospedeReserva").focus();
});

</script>
<!-- #################### Modal CheckIn / Reserva - ( End ) ######################### -->

<!-- ########################## autocomplete descricao ################################# -->
<script>
function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
              /*clear the qtdItem field:*/
              document.getElementById('qtdItem').value = '';
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

/*An array containing all the country names in the world:*/

var hosdesList = ["NATAL DE JESUS DA SILVA SANTIAGO","MARIA CÉLIA ALVES DA SILVA","MARIA CLARA DA SILVA SANTIAGO","JOÃO PAULO DA SILVA SANTIAGO","JOÃO FELIPE ALVES DA SILVA","MARIA DE LURDES PEREIRA","FABIANA COSTA DE OLIVEIRA",];

/*
var intensConsumoList = {{ intensConsumoList|safe }};
*/

/*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
autocomplete(document.getElementById("myHospedeCheckin"), hosdesList);
autocomplete(document.getElementById("myHospedeReserva"), hosdesList);
</script>


{% endblock %}