{% extends "home/base.html" %}

{% block content %}

<br>
<div class="container mt-5" style="max-width: 550px;">
    <div class="card p-3 border-dark">
       <h6 class="modal-title">
           <i class="fas fa-trash-alt"></i> Consumo apartamento
       </h6>
   </div>
   <hr>
   <hr>
        {% for intem in itens_consumo_aparts %}
           <i class="card-title" style="font-size: 15px;">Item: {{ intem.item_lancamento.descricao }}  -  Preço: {{ intem.preco_item }}  -  Qtd: {{ intem.qtd_lancamento }}  -  Valor total: {{ intem.valor_total }}</i><br>
        {% endfor %}

</div>
{% endblock %}
