{% extends "home/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% load widget_tweaks %}

{% load static %}

<div class "card">
    <div class="card-body">
        <h4>EDITANDO ITEM<h4>
        <hr>
        {{ form.media }}        
        <form method='POST'>
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-8 mb-0">
                {{ form.descricao|as_crispy_field }}
              </div>
              <div class="form-group col-md-2 mb-0">
                {{ form.unidade|as_crispy_field }}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-2 mb-0">
                {{ form.estoqueMinimo|as_crispy_field }}
              </div>
              <div class="form-group col-md-2 mb-0">
                {{ form.estoqueAtual|as_crispy_field }}
              </div>
              <div class="form-group col-md-2 mb-0">
                  {{ form.precoCompra|attr:"type:number"|attr:"id:precoCompra"|as_crispy_field }}
              </div>
              <div class="form-group col-md-2 mb-0">
                  {{ form.margemLucro|attr:"type:number"|attr:"step:0.01"|attr:"id:margemLucro"|as_crispy_field }}
              </div>
              <div class="form-group col-md-2 mb-0">
                  {{ form.precoVenda|attr:"type:number"|attr:"id:precoVenda"|as_crispy_field }}
              </div>
            </div>  
            <div class="form-row">
              <div class="form-group col-md-10 mb-0">
                {{ form.observacao|as_crispy_field }}
              </div>
            </div>
            <!-- ###########################################################  -->
            <br>
            <button class="btn btn-success" type="submit">Salvar</button>
            <a href="{% url 'itensConsumo' %}" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
</div>    

<!-- ###### Ativar o prescionamento da tecla ENTER ##################  -->
<script src="{% static 'js/custom.js' %}"></script>
<script>
  enableFormTabbing();
</script>
<!-- ########################## FIM ################################# -->


<!-- ########### Colocar o foco no campo descricao ##################  -->
<script>
   document.addEventListener('DOMContentLoaded', function() {
   document.getElementById('{{ form.descricao.id_for_label }}').focus();
   });
</script>
<!-- ########################## FIM ################################# -->

<!-- ############# Efetua o calculo do precoVenda ##################  -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const precoCompra = document.getElementById('precoCompra');
        const margemLucro = document.getElementById('margemLucro');
        const precoVenda = document.getElementById('precoVenda');

        precoCompra.addEventListener('input', updatePrecoVenda);
        margemLucro.addEventListener('input', updatePrecoVenda);

        function updatePrecoVenda() {
            precoVenda.value = (precoCompra.value * (1 + margemLucro.value / 100)).toFixed(2);
        }
    });
</script>
<!-- ########################## FIM ################################# -->


{% endblock %}