{% extends "home/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% load widget_tweaks %}

{% load static %}

{% csrf_token %}

{% block extrahead %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>  
{% endblock %}


<div class="card">
    <div class="card-body">
        <h4>NOVO ITEM<h4>
        <hr>
        {{ form.media }}        
        <form action="{% url 'itensConsumo_add' %}" method='POST'>
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-8 mb-0">
                {{ form.descricao|as_crispy_field }}
              </div>
              <div class="form-group col-md-2 mb-0">
                {{ form.unidade|as_crispy_field }}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-2 mb-0">
                {{ form.estoqueMinimo|as_crispy_field }}
              </div>
              <div class="form-group col-md-2 mb-0">
                {{ form.estoqueAtual|as_crispy_field }}
              </div>
              <div class="form-group col-md-2 mb-0">
                  {{ form.precoCompra|attr:"type:number"|attr:"id:precoCompra"|as_crispy_field }}
              </div>
              <div class="form-group col-md-2 mb-0">
                  {{ form.margemLucro|attr:"type:number"|attr:"step:0.01"|attr:"id:margemLucro"|as_crispy_field }}
              </div>
              <div class="form-group col-md-2 mb-0">
                  {{ form.precoVenda|attr:"type:number"|attr:"id:precoVenda"|as_crispy_field }}
              </div>
            </div>  
            <div class="form-row">
              <div class="form-group col-md-10 mb-0">
                {{ form.observacao|as_crispy_field }}
              </div>
            </div>
            <!-- ###########################################################  -->
            <br>
            <button id="btn-save" class="btn btn-primary" type="submit" name="action" value="save_add">Salvar e adicionar outro</button>
            <button class="btn btn-success" type="submit" name="action" value="save_exit">Salvar e sair</button>
            <a href="{% url 'itensConsumo' %}" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
</div>    


<!-- ###### Ativar o prescionamento da tecla ENTER ##################  -->
<script src="{% static 'js/custom.js' %}"></script>
<script>
  enableFormTabbing();
</script>
<!-- ########################## FIM ################################# -->


<!-- ########### Colocar o foco no campo descricao ##################  -->
<script>
   document.addEventListener('DOMContentLoaded', function() {
   document.getElementById('{{ form.descricao.id_for_label }}').focus();
   });
</script>
<!-- ########################## FIM ################################# -->

<!-- ############# Efetua o calculo do precoVenda ##################  -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const precoCompra = document.getElementById('precoCompra');
        const margemLucro = document.getElementById('margemLucro');
        const precoVenda = document.getElementById('precoVenda');

        precoCompra.addEventListener('input', updatePrecoVenda);
        margemLucro.addEventListener('input', updatePrecoVenda);

        function updatePrecoVenda() {
            precoVenda.value = (precoCompra.value * (1 + margemLucro.value / 100)).toFixed(2);
        }
    });
</script>
<!-- ########################## FIM ################################# -->

{% block extrascripts %}
<script>

$(document).ready(function() {
  var descricaoField = $('#{{ form.descricao.id_for_label }}');

  descricaoField.blur(function() {
    var descricaoValue = descricaoField.val().trim().toUpperCase();

    if (descricaoValue === '') {
      return;
    }

    $.ajax({
      url: '{% url "itensConsumo_check_description" %}',
      method: 'POST',
      data: {
        'descricao': descricaoValue,
        'csrfmiddlewaretoken': '{{ csrf_token }}',
      },
      success: function(data) {
        if (data.item_existente) {
          descricaoField.val(''); // Limpa o valor do campo de descrição
          descricaoField.focus(); // Volta o foco para o campo de descrição
          Swal.fire({
            title: descricaoValue,
            text: "Este item já esta cadastrado  ! !",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Cancelar',
            confirmButtonText: 'Editar este item',

          }).then((result) => {
             if (result.isConfirmed) {
               var itemId = data.id;
               var url = "/itensConsumo/edit/" + itemId;
               window.location.href = url;
             }
          })
          $(this).focus();
        }
      },
    });
  });
});
</script>

{% endblock %}



{% endblock %}


